<h3>My Accounts</h3>

<button ng-click="openCreateAccountModal()" type="button" name="button" class="btn btn-success">Add Account</button>

<table st-table="safeCollection" st-safe-src="accounts" class="table table-striped">
  <thead>
    <tr>
      <th style="cursor: pointer" st-sort="name" st-skip-natural="true">Account Name</th>
      <th style="cursor: pointer" st-sort="type" st-skip-natural="true">Type</th>
      <th style="cursor: pointer" st-sort="balance" st-skip-natural="true">Balance</th>
      <th style="cursor: pointer" st-sort="currency" st-skip-natural="true">Currency</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="account in safeCollection">
      <td>{{account.name}}</td>
      <td>{{account.type}}</td>
      <td>{{account.balance | currency : '£'}}</td>
      <td>{{account.currency}}</td>
      <td><button type="button" name="button" class="btn btn-primary">Make Transaction</button></td>
      <td><button type="button" name="button" class="btn btn-primary">Edit</button></td>
      <td><button ng-click="deleteAccount(account._id)" type="button" name="button" class="btn btn-danger"><i class="fa fa-times"></i></button></td>
    </tr>
  </tbody>
</table>
